<div class = 'wrapper'>
  <div class = 'container'>
    <div class = 'content'>

      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>

      <%= form_tag("/users/#{@user.id}/update",{multipart: true}) do %>
        <div class = 'form'>
        <h1>編集</h1>
          <div class = 'form-title'>
            <p>ユーザーネーム</p>
            <input name = 'name' value='<%= @user.name %>'>
          </div>
          <div class = 'form-content'>
            <p>メールアドレス</p>
            <input name = 'email' value='<%= @user.email %>'>
            <p>プロフィール画像</p>
            <input name = 'image' type = 'file'>
            <p>プロフィール</p>
            <textarea name = 'profile'><%= @user.profile %></textarea>
          </div>
            <input type="submit" value="保存">
        </div>
      <%end%>
    </div>
  </div>
</div>
