<div class = 'wrapper'>
  <div class = 'container'>
    <div class = 'content'>
      <div class = 'show-title'>
        <div class = 'user-name'>
          <img src="<%= "/user_images/#{@user.image_name}" %>">
          <h1><%= @user.name %></h1>
        </div>
        <p>登録日：<%= @user.created_at.strftime('%Y/%m/%d') %></p>
      </div>
      <div class = 'show-text'>
        <p><%= @user.profile %></p>
      </div>
      <%if @current_user != nil%>
        <div class = 'show-menu'>
          <% if @user.id == @current_user.id %>
            <%= link_to("編集", "/users/#{@user.id}/edit") %>
          <%end%>
        </div>
      <%end%>
      <ul class="user-tabs">
        <li class="active"><%= link_to("投稿一覧", "/users/#{@user.id}") %></li>
        <%if @current_user != nil%>
        <li><%= link_to("お気に入り", "/users/#{@user.id}/likes") %></li>
        <%end%>
      </ul>
      <% @user.posts.each do |post| %>
        <div class="posts-index-item">
            <li><%= link_to(post.title, "/posts/#{post.id}") %></li>
            <p>更新日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
