<div class = 'wrapper'>
  <div class = 'container'>
    <div class = 'content'>
      <div class = 'show-title'>
        <div class = 'user-name'>
          <img src="<%= "/user_images/#{@user.image_name}" %>">
          <h1><%= @user.name %></h1>
        </div>
        <p>登録日：<%= @user.created_at.strftime('%Y/%m/%d') %></p>
      </div>
      <div class = 'show-text'>
        <p><%= @user.profile %></p>
      </div>
      <div class = 'show-menu'>
        <% if @user.id == @current_user.id %>
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <%end%>
      </div>
    </div>
  </div>
</div>
