<div class = 'wrapper'>
  <div class = 'container'>
    <div class = 'content'>
      <div class='post-user-date'>
        <div class = 'user-name'>
          <p>投稿者：</p>
          <img src="<%= "/user_images/#{@user.image_name}" %>">
          <%= link_to(@user.name, "/users/#{@user.id}") %>
        </div>
        <div class = 'created-at'>
          <p>更新日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
        </div>
      </div>
      <div class = 'show-title'>
        <h1><%= @post.title %></h1>
      </div>
      <div class = 'show-text'>
        <p><%= @post.content %></p>
      </div>

      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      <%= @likes_count %>

      <div class = 'show-menu'>
        <% if @user.id == @current_user.id %>
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy",{method: "post"}) %>
        <%end%>
      </div>
    </div>
  </div>
</div>
