<!DOCTYPE html>
<html>
  <head>
    <title>初めてを共有・検索するサービス|TORISETSU</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'posts','home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class = nav>
        <h1><%=link_to 'TORISETSU', '/' %></h1>
        <ul>
          <%if @current_user%>
            <div class = 'current-user'>
                <img src= "<%= "/user_images/#{@current_user.image_name}" %>">
                <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
            </div>
            <li><%=link_to '新規投稿', '/posts/new' %></li>
            <li><%=link_to 'ユーザー一覧', '/users/index' %></li>
            <li><%=link_to 'ログアウト', '/logout', {method: :post} %></li>
          <% else %>
            <li><%=link_to '新規登録', '/signup' %></li>
            <li><%=link_to 'ログイン', '/login' %></li>
          <%end%>
        </ul>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
    <footer>
      (c)miteimasada
    </footer>
  </body>
</html>
